/* Include all font for this project */

/*@font-face {*/
/*    font-family: 'Sora';*/
/*    font-style: normal;*/
/*    font-weight: 100;*/
/*    src: local('ClashGrotesk-Thin'), url('ClashGrotesk-Thin.otf') format('opentype');*/
/*}*/

@font-face {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 300;
    src: local('ClashGrostesk-Light'), url('ClashGrotesk-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 400;
    src: local('ClashGrostesk-Regular'), url('ClashGrotesk-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    src: local('ClashGrostesk-Medium'), url('ClashGrotesk-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 600;
    src: local('ClashGrotesk-SemiBold'), url('ClashGrotesk-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 700;
    src: local('ClashGrostesk-Bold'), url('ClashGrotesk-Bold.otf') format('opentype');
}

/*@font-face {*/
/*    font-family: 'Sora';*/
/*    font-style: normal;*/
/*    font-weight: 800;*/
/*    src: local('ClashGrostesk-ExtraBold'), url('ClashGrotesk-ExtraBold.otf') format('opentype');*/
/*}*/