.contact {
    padding: 100px 0;
    background: #FAFAFA;
}

.contact h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: +1px;
    text-align: center;
}

.contact h1 {
    margin-bottom: 150px;
}

.contact h3 {
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 900;
}

.contact .mail {
    font-weight: 500;
}

.contact h4 {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
}

.contact p {
    line-height: 1.5;
    max-width: 500px;
}

.contact article {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}