.header-container {
    display: flex;
    background: #FAFAFA;
    padding: 100px;
    justify-content: space-between;
}

.header-container h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: +1px;
}

.header-container nav {
    font-weight: 500;

    display: flex;
}

.header-container nav a {
    padding: 24px 14px;
    /*background: red;*/
    color: inherit;
}

