.header-container {
    display: flex;
    background: #FAFAFA;
    padding: 100px;
    justify-content: space-between;
}

.header-container h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: +1px;
}

.header-container nav {
    font-weight: 500;

    display: flex;
}

.header-container nav a {
    padding: 24px 14px;
    /*background: red;*/
    color: inherit;
}

@media only screen and (max-width: 1025px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*display: block;*/
        padding: 100px 10px;
        /*width: 90%;*/
    }

    .header-container .logo {
        text-align: center;
    }

    .header-container nav {
        flex-direction: column;
        margin-top: 50px;
    }

    .header-container nav a {
        padding: 10px 0;

    }
}
