.stacks {
    padding: 300px 0;
}

.stacks h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: +1px;
    text-align: center;
}

.stacks h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    gap: 30px;
}

.stacks h1 svg {
    width: 50px;
    height: 50px;
}

.stacks h3 {
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 900;
}

.stacks h4 {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
}

.stacks p {
    line-height: 1.5;
    max-width: 500px;
}

.stacks article {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.item-stacks {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    font-weight: 500;
}

.stacks div {
    text-align: center;
}

@media only screen and (max-width: 1025px) {
    .stacks svg {
        display: none;
    }
    .stacks article {
        flex-direction: column;
        width: 90%;
        margin: auto;
        gap: 50px;
        text-align: center;
    }

    .stacks .item-stacks {
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }
}