@import "reset.css";
@import "fonts/fonts.css";

:root {
  /*font-family: 'Sora', sans-serif;*/
  font-family: 'Clash Grotesk', sans-serif;
}
body, * {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}