@import "https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap";
@import "https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /*font-family: 'Satoshi', sans-serif;*/
    font-family: 'Clash Display', sans-serif;
    /*font-family: sans-serif;*/
}

.barre::-webkit-scrollbar {
    width: 5px;
}

.barre::-webkit-scrollbar-track {
    background: gray;
}

.barre::-webkit-scrollbar-thumb {
    background-color: black;
    border: 1px solid gray;
}

/*.aside {*/
/*    transform: translateX(-50%);*/
/*}*/

.perso {
    -webkit-text-stroke: 2px #222;
    color: transparent;
    /*color: white;*/
    /*text-shadow: -2px -2px 0 #222, 2px -2px 0 #222, -2px 2px 0 #222, 2px 2px 0 #222;*/
}